{
    "root": true,
    "plugins": ["prettier","@typescript-eslint"],
    "extends": ["eslint:recommended", "prettier","eslint:recommended",
               "plugin:@typescript-eslint/eslint-recommended",
               "plugin:@typescript-eslint/recommended"],
    "rules": {
       "prettier/prettier": 2,
       "no-use-before-define": ["error", { "functions": true, "classes": true }],
       "no-var": "error",
       "prefer-const": "error"
    },
    "parserOptions": {
       "ecmaVersion": 2016,
       "allowImportExportEverywhere": true,
       "sourceType": "module",
       "parser": "@typescript-eslint/parser"
    },
    "env": {
       "node": true,
       "es6": true
    }
 }
 